/*!
 Survey-Bot styles | @copyright © Nick Freear.
*/

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: #f8f8f8;
  color: #333;
  font: 1.1rem/1.6 sans-serif;
  margin: 0 auto;
  max-width: 33rem;
}

h1 { font-size: 1.5rem; margin: .3rem 0; }

button,
input {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

button { cursor: pointer; }

/* Accessibility :~ fix focus-ring! */
#webchat form > input.webchat__send-box-text-box__input:focus,
#webchat .webchat__send-box__button > button.webchat__icon-button:focus {
  background-color: #f4f4f4;
  outline: revert;
  X-outline: auto 5px -webkit-focus-ring-color;
  outline-offset: .05rem;
}

#webchat .webchat__send-box__button > button.webchat__icon-button:hover {
  background-color: #ddd;
  outline: auto 5px -webkit-focus-ring-color;
  transition: all 2s;
}

#webchat form > input.webchat__send-box-text-box__input:focus {
  outline-offset: .6rem;
}

#webchat {
  border-left: 2px solid #aaa;
  border-right: 2px solid #aaa;
  height: 100%;
  width: 100%;
}

#webchat .webchat__send-box__main {
  border-color: #aaa;
}

#webchat code {
  display: none;
}

.bot-form {
  position: fixed;
  background: #f8f8f8;
  border: 2px solid #aaa;
  border-top: none;
  max-height: 10rem;
  padding: 0 .8rem;
  width: 33rem;
  X-width: calc(33rem - 2rem);
  z-index: 999;
}

.bot-form input,
.bot-form button {
  padding: .3rem 1rem;
}

.bot-form.hide {
  font-size: .001rem;
  max-height: 1px;
  overflow: hidden;
  transition: all 1.5s;
}

.bot-form.hide,
.bot-form.hide *,
.bot-form.hide * > * {
  border-width: .001rem;
  margin: 0;
  padding: 0;
}

.load-hide-form .bot-form,
.bot-form.hidden {
  display: none;
}
