/*!
 Survey-Bot styles | @copyright © Nick Freear.
*/

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: #f8f8f8;
  color: #333;
  font: 1.1rem/1.6 sans-serif;
  margin: 0 auto;
  max-width: 33rem;
}

h1 { font-size: 1.4rem; margin: .3rem 0; }

button,
select,
input {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  min-width: 7rem;
  text-align: center;
  X-margin: .3rem 0 0;
}

:invalid { border-color: red; }

button { cursor: pointer; }

.bot-form p { margin: .2rem 0; }

/* Accessibility :~ fix focus-ring! */
#webchat form > input.webchat__send-box-text-box__input:focus,
#webchat .webchat__send-box__button > button.webchat__icon-button:focus {
  background-color: #f4f4f4;
  outline: revert;
  X-outline: auto 5px -webkit-focus-ring-color;
  outline-offset: .05rem;
}

#webchat .webchat__send-box__button > button.webchat__icon-button:hover {
  background-color: #ddd;
  outline: auto 5px -webkit-focus-ring-color;
  transition: all 2s;
}

#webchat form > input.webchat__send-box-text-box__input:focus {
  outline-offset: .6rem;
}

#webchat {
  border-left: 2px solid #aaa;
  border-right: 2px solid #aaa;
  height: 100%;
  width: 100%;
}

#webchat .webchat__send-box__main {
  border-color: #aaa;
}

#X_NO_NEED_webchat code {
  display: none;
}

#webchat .markdown em {
  font-size: .9rem;
}

.bot-form {
  position: fixed;
  background: #f8f8f8;
  border: 2px solid #aaa;
  border-top: none;
  display: block;
  font-size: 1.05rem;
  max-height: 20rem;
  padding: 0 .8rem;
  width: 33rem;
  z-index: 999;
}

@media screen and (max-width: 33rem) {
  body { font-size: 1rem; }

  .bot-form {
    max-width: 33rem;
    width: auto;
  }
}

.bot-form label { display: inline-block; width: 13rem; }

.bot-form input,
.bot-form select,
.bot-form button {
  padding: .25rem .5rem;
}

.bot-form button {
  display: block;
  margin: .5rem auto;
  padding: .3rem 2rem;
}

.bot-form.hide {
  font-size: .001rem;
  max-height: 1px;
  overflow: hidden;
  transition: all 1.5s;
}

.bot-form.hide,
.bot-form.hide *,
.bot-form.hide * > * {
  border-width: .001rem;
  margin: 0;
  padding: 0;
}

.bot-form p,
.XX-load-hide-form .bot-form,
.bot-form.hidden {
  display: none;
}

.bot-form .btn-submit,
.fl-asr-adaptive .inp-timeout,
.fl-showAsr-true .inp-asr,
.fl-showLocale-true .inp-locale {
  display: block;
}

.bot-launched .btn-reload {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
